
.box {
    width: 50px;
}

.a {
    width: 50px;
}
#sr {
    font-size: 32px;
    padding-right: 40px;
    font-family: Cambria;;
}
#sb {
    font-size: 28px;
    font-family: Cambria;
    width: 400px;
    padding-right: 20px;
}
#label1 {
    display: inline-flex;
    padding-top: 20px;
    padding-bottom: 20px;
}
#btn {
    width: fit-content;
    margin-left: 20px;
    padding-right: 20px;

}

#f {
    width: 500px;
    padding-bottom: 20px;
}

.td{
color: black;
font-size: 18;
font-family:  Tahoma;
}
