

#container{
    padding-top: 200px;
    padding-left: 200px;
}

#label {
    display: inline-flex;
    font-size: 44px;
    height: 50px;
}
#HorD{  display: inline-flex;
    width:185px;
    height:40px;
    padding-right: 20px;
    padding-left: 20px;
}

#emailBox{
    
    width: 1000px;
    display: block;
    border: 2px solid black;
    
}
#container {
    width: 100%;
    height: 100%;
}

#searchText{
    display: block;
    font-size: 28px;
    font-weight: bolder;
    padding-left: 10px;
    padding-right: 400px;
    
    
}
.form-group {
    padding-bottom: 20px;
}

#enterEmail {
    width: 426px;
}

#searchRow {
    display: inline-flex;
    align-items: center;
    margin: auto;
}

#btn1 {
    margin: 25px;
}
#sr {
    font-size: 32px;
    padding-right: 40px;
    font-family: Cambria;;
}
#sb {
    font-size: 24px;
    font-family: Cambria;
    width: 400px;
    height: 44px;
}
#label1 {
    display: inline-flex;
    padding-top: 20px;
    padding-left: 20px;
}
#btn {
    width: fit-content;
    margin-left: 20px;

}
#label2 {
    display: inline-flex;
}

#ohh {
    color: "black";
    font-size: 20;
    font-family: "Tahoma";
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}
