#nav{
   width: 100%;
   height: auto;
   overflow: auto;
    float:left;
    align-items:center;
    background-color: rgb(87, 97, 107);
    width: 100% ;
    font-family: ve;
    
}

.list-group {
align-items: center;
align-content: center;
}

#navbar {
    align-content: center;
    width: 100% ;
    overflow: auto;
    float: right;
}

#n1 {
    padding-left: 40px;
}
#n2 {
    padding-left:  80px;
}

#n3 {
    padding-right: 60px;
}