
#bg {
  background-color:  rgb(206, 223, 235);
}
#emailer {
background-color: rgb(206, 223, 235);
  width: 70%;
  height: 100%;
  margin-right: auto;
}
#ta {
  margin-top: 0px;
    margin-bottom: 0px;
    height: 356px;
}
#sm {
  width: auto;
}
#o{
  transition: transform .3s;
}
#o:hover{
  transform: scale(1.4);
}

#eb {
  padding-bottom: 10px;

}